body {
    margin: 0;
    box-sizing: boder-box;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    /* flex-flow: <'flex-direction'>과 <'flex-wrap'> */
    /* flex-direction : 주축설정, wrap : 아이템의 영역 초과 시 다음 라인으로 배열 */
    flex-flow: row nowrap;
    /* justify-content : 주축을 따라 아이템 정렬 방식 지정 */
    justify-content: center;
    /* align-items : 교차축 따라 아이템 정렬 라인 지정(두 줄 이상일 때 라인을 기준으로 정렬 */
    align-items: center;
    /* align-items : wrap상태일 때 라인 자체에 아이템을 정렬 */
    align-content: center;
}

#container div {
    width: 80px;
    height: 80px;
    /* One value, unitless number: flex-grow */
    /* Two values: flex-grow | flex-basis (단위가 붙을 경우) */
    /* Two values: flex-grow | flex-shrink */
    /* Three values: flex-grow | flex-shrink | flex-basis */
    /* grow : 컨테이너 늘어날 때 비율, shrink : 컨테이너 줄어들 때 비율, basis : 초기크기 */
    flex: 2 2 10%;

    /* align-self : 요소 하나의 독자적인 위치 지정 */
}

main {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    border: 2px solid white;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}